:root {
    --background: #ccc;
    --text-primary: #212121;
    --text-secondary: #2c3e50;
    --box-shadow: rgba(0, 0, 0, 0.6);
}

[data-theme="dark"] {
    --background: #212121;
    --text-primary: #ccc;
    --text-secondary: #ccc;
    --box-shadow: rgba(255, 255, 255, 0.9);
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: var(--background);
}

.recipe_detail {
    display: flex;
    justify-content: space-around;
    border: 10px solid #2c3e50;
    padding: 20px;
    background-color: var(--background);
    border-radius: 4px;
    min-height: 200px;
    min-width: 900px;
    margin: 0 auto;
}


.recipe_detail img {
    width: 500px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
}

.recipe_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.recipe_name {
    color: var(--text-secondary);
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.recipe_summary {
    margin-top: 10px;
    font-size: 16px;
    background-color: #FFA500;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    color: #fff;
    min-width: 600px;
}

.diet_types {
    margin-top: 10px;
}

.diet_label {
    font-weight: bold;
    margin: 0;
    color: var(--text-secondary)
}

.diet_list {
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.diet_item {
    font-size: 1rem;
    margin-bottom: 5px;
    background-color: #FFA500;
    color: #fff;
    border-radius: 5px;
    padding: 4px 20px;
    margin-top: 12px;
}

.healthScore {
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.button_container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}