.container {
    min-height: 100vh;
    background-color: var(--background);
}

:root {
    --background: #ccc;
    --text-primary: #212121;
    --text-secondary: #2c3e50;
    --box-shadow: rgba(0, 0, 0, 0.6);
}

[data-theme="dark"] {
    --background: #212121;
    --text-primary: #ccc;
    --text-secondary: #ccc;
    --box-shadow: rgba(255, 255, 255, 0.9);
}

.main_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFA500;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px var(--box-shadow);
}

.main_title h1 {
    color: #fff;
    font-size: 22px;
    filter: drop-shadow(0 0 0.75rem #fff)
}

.main_header_left {
    display: flex;
    gap: 20px;
}

.main_header_filtersearchbar {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.select_container {
    display: flex;
}

.grid_container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding: 22px 0;
}

.btnDisplay {
    padding-top: 6.5rem;
    display: flex;
    justify-content: center;
    gap: 22px;
}

@media only screen and (max-width: 1030px) {
    .main_header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        width: 100%;
        height: auto;
        padding: 22px 0;
    }

    .main_header_filtersearchbar {
        margin: 0;
        gap: 12px;
    }

    .grid_container {
        margin-top: 20px;
    }

    .btnDisplay {
        margin-top: 15rem;
    }

    .select_container {
        flex-direction: column;
        align-items: center;
    }
}