body {
    background-color: #ccc;
    min-height: 100vh;
}

.main_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 22px;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFA500;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.main_title h1 {
    color: #fff;
}

.main_header_left {
    display: flex;
    gap: 20px;
}

.main_header_filtersearchbar {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.select_container {
    display: flex;
}

.grid_container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 14px auto;
}

.btnDisplay {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    gap: 22px;
}

@media only screen and (max-width: 1030px) {
    .main_header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        width: 100%;
        height: auto;
        padding: 22px 0;
    }

    .main_header_filtersearchbar {
        margin: 0;
        gap: 12px;
    }

    .grid_container {
        margin-top: 20px;
    }

    .btnDisplay {
        margin-top: 15rem;
    }

    .select_container {
        flex-direction: column;
        align-items: center;
    }
}