a {
    text-decoration: none;
}

h3 {
    color: #0B3054;
}

.cardStyle {
    background-color: #F5F5F5;
    border: 5px solid #2c3e50;
    min-height: 450px;
    transition-duration: 0.5s;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardStyle:hover {
    background-color: rgb(230, 234, 239, 0.2);
}

.main_img {
    padding-top: 20px;
    padding-bottom: 5px;
    min-width: 200px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_img img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px;
    object-fit: cover;
    transition-duration: 0.3s;
}

.main_img img:hover {
    box-shadow: 0 0 2px 1px #FFD700;
}

.card_title {
    color: #0b3054;
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 400px;
}

.diet_item {
    background-color: #FFD700;
    color: #fff;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 3px;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    font-style: bold;
}