body {
    background-color: #ccc;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFA500;
    transition-duration: 0.5s;
}

.main_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    width: 600px;
}

.main_title h1 {
    color: #fff;
}

.main_header_left {
    display: flex;
    margin-left: 20px;
}

.main_header_filtersearchbar {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.select_container {
    display: flex;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    margin: 20px 30px 50px 30px;
}

.btnDisplay {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}