* {
    margin: 0;
    padding: 0;
}

.background {
    margin: 0;
    background-image: url("https://static01.nyt.com/images/2021/01/26/well/well-foods-microbiome/well-foods-microbiome-superJumbo.jpg");
    height: 100vh;
    /* background-position: center; */
    background-size: cover;
}

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase h1 {
    margin-bottom: 10px;
    padding-top: 10px;
    color: #0B3054;
}